cgi-bin/xml/DatabasePrezzi.xsd

<?xml version="1.0"?>
	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xsd:element name="prodotti" type="TProdotti"/>
	<xsd:complexType name="TProdotti">	
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
	        <xsd:element name="prodotto" type="TProdotto"/>
	    </xsd:sequence>
	</xsd:complexType>
    	<xsd:complexType name="TProdotto">
		  	<xsd:sequence>
	   			<xsd:element name="id_prodotto" type="xsd:string"/>
	   			<xsd:element name="nome" type="xsd:string"/> 
 	   			<xsd:element name="descrizione" type="xsd:string"/>
	   			<xsd:element name="prezzo" type="xsd:string"/>
	  		</xsd:sequence>
		</xsd:complexType>	
	</xsd:schema>
