cgi-bin/xml/DatabaseAmministratori.xsd

<?xml version="1.0" encoding="UTF-8"?>

	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:element name="amministratori" type="TAdmin"/>
	
  <xsd:complexType name="TAdmin">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="amministratore" type="TAmministratore"/>
		</xsd:sequence>
	</xsd:complexType>
        <xsd:complexType name="TAmministratore">
		  	<xsd:sequence>
	   			<xsd:element name="username" type="xsd:string"/>
	   			<xsd:element name="password" type="xsd:string"/>
	  		</xsd:sequence>
		</xsd:complexType>
</xsd:schema>
